/* MINI RESET */
blockquote {
	border: none;
}
.et_pb_text {
	color: #000;
}
#page-container .et_pb_button:hover{
	border-radius: 4px !important;
}
.et-waypoint {
    opacity: 1 !important;
}
.et_pb_animation_left{
	-webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}
#footer-bottom{
	display: none;
}

/* MOBILE */

.mobile_menu_bar::before{
	color: #fff;
}
.et_mobile_menu {
	background-color: #434343;
	border-top: 3px solid #228b22;
}

/******************************/
/* TITULOS H1 H2 H3 H4 VERDES */
/******************************/

.tituloPagina h1, .tituloPagina h2, .tituloPagina h3 , .tituloPagina2 h1, .tituloPagina2 h2, .tituloPagina2 h3{
	color: #64bb46;
	font-size: 40px;
    line-height: 130%;
    margin-bottom: 25px;
    font-weight: 900;
}
.titulosMenores h4 {
	color: #64bb46;
	line-height: 130%;
	font-weight: bold;
	font-size: 24px;
}

/**********************************/
/* TEXTOS DA CLASSE TITULO PAGINA */
/**********************************/

.tituloPagina p{
	color: rgb(88, 88, 88);
	line-height: 150%;
	font-size: 22px;
	font-family: source sans pro,sans-serif;
}
.tituloPagina2 p{
	color: #73879c;
	line-height: 150%;
	font-size: 22px;
	font-family: source sans pro,sans-serif;
}
/**********************************/
/* BOTOES DO ESTILO padraoLARANJA */
/**********************************/

.et_pb_module .botaoEmidia1 {
	background: #ff670f !important;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
}
.et_pb_module .botaoEmidia1:hover {
	background: #dd5e0f !important;
	-webkit-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
}

/********************************/
/* BOTOES DO ESTILO padraoCINZA */
/********************************/
.et_pb_module .botaoEmidia2 {
	padding: 20px !important;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #a8a8a8 !important;
	color: #a8a8a8 !important;
	text-align: center;
	text-decoration: none;
	font-family: source sans pro,sans-serif;
}
.et_pb_module .botaoEmidia2:hover {
	background: #a8a8a8 !important;
	color: #fff !important;
	border-color: #fff !important;
	border-radius: 5px;
}

/**************/
/* eSection 1 */
/**************/

.eSection1 {
	margin: 0;
}
.eSection1 .cycle-slide a img{
	height: 100%;
}
/*
.eSection1 .sliderPrincipal{
	height: 460px;
}
.eSection1 .sliderPrincipal .et_pb_code_inner{
	height: 100%;
}*/


/**************/
/* eSection 2 */
/**************/

.eSection2 {
	padding-top: 0;
}
.eSection2 .et_pb_text p{
	font-size: 22px;
	line-height: 150%;
	color: #73879c;
	text-rendering: optimizeLegibility;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	text-align: center;
}

/**************/
/* eSection 3 */
/**************/

.eSection3 .et_pb_text img.img-responsive {
	margin-right: 20px !important;
	padding-bottom: 85px !important;
	padding-top: 19px !important;
}
.eSection3 .et_pb_text .mini-links p{
	font-size: 16px !important;
	font-family: source sans pro,sans-serif !important;
	color: #73879c !important;
	line-height: 160% !important;
	text-rendering: optimizeLegibility !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.eSection3 .et_pb_text .mini-links h2{
	font-weight: bold !important;
    font-size: 18px !important;
}
.eSection3 .et_pb_text .mini-links p:hover{
	color: #63bc46 !important;
}

/**************/
/* eSection 4 */
/**************/

.eSection4 {
	padding: 0;
	padding-bottom: 4%;
}
.eSection4 .et_pb_row{
	padding: 0;
}
.eSection4 .et_pb_text h4{
	color: #fff
}
.eSection4 .et_pb_text .seta-png {
	position: relative;
	top: 70px;
	right: 15px;
}

	/* BIG DEVICES */
	@media only screen and (max-width:1100px) {
		.eSection4 .et_pb_text .seta-png {
			display: none;
		}
		.eSection4 .et_pb_text h4 {
			padding-top: 25px;
			text-align: center;
		}
	}

/**************/
/* eSection 5 */
/**************/

.eSection5 {
	background-color: #EBEBEB;
	font-family: source sans pro,sans-serif;
	font-size: 18px;
}
.eSection5 p{
	color: #414141;
}

/**************/
/* eSection 6 */
/**************/

.eSection6 {
	padding: 12% 0; 
}


/***************************/
/* BOTÕES DAS SECÕES 7 8 9 */
/***************************/


body #page-container .eSection7 .et_pb_button, body #page-container .eSection8 .et_pb_button, body #page-container .eSection9 .et_pb_button {
	padding: 20px !important;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #a8a8a8 !important;
	color: #a8a8a8 !important;
	text-align: center;
	text-decoration: none;
	font-family: source sans pro,sans-serif;
}
body #page-container .eSection7 .et_pb_button:hover, body #page-container .eSection8 .et_pb_button:hover, body #page-container .eSection9 .et_pb_button:hover {
	background: #a8a8a8 !important;
	color: #fff !important;
	border-color: #fff !important;
	border-radius: 5px;
}

/**************/
/* eSection 7 */
/**************/

.eSection7 .postCard_1_2 .et_pb_module {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.eSection7 .postCard_1_2 .cpt_title{
	color: dimgrey;
	font-weight: bold;
	font-size: 28px;
	font-family: source sans pro,sans-serif;
}
.eSection7 .postCard_1_2 h2.cpt_title{
	padding-bottom: 0;
}
.eSection7 .postCard_1_2 .et_pb_module p{
	color: #506a85;
	font-size: 18px;
	font-family: source sans pro,sans-serif;
	line-height: 150%;
}

/**************/
/* eSection 8 */
/**************/

.eSection8 .postCard_1_3 .et_pb_module {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.eSection8 .postCard_1_3 .cpt_title{
	color: #63bc46;
	font-size: 26px;
	font-family: source sans pro,sans-serif;
}
.eSection8 .postCard_1_3 h2.cpt_title{
	padding-bottom: 0;
}
.eSection8 .postCard_1_3 .et_pb_module p{
	color: #506a85;
	font-size: 18px;
	font-family: source sans pro,sans-serif;
	line-height: 150%;
}
.eSection8 .postCard_1_3 p.et_pb_title_meta_container{
	margin-top: 20px;
	font-family: source sans pro,sans-serif;
	padding: 0;
}

.eSection8 .postCard_1_3 p.et_pb_title_meta_container a{
	color: #fff;
	background-color: #3b8693;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	font-family: source sans pro,sans-serif;
}

.eSection8 .postCard_1_3 p.et_pb_title_meta_container a:hover{
	background-color: #10505b;
}

/**************/
/* eSection 9 */
/**************/
.eSection9 .et_pb_text {
	width: 100%;
}

.eSection9 .et_pb_text h3{
	font-weight: 400;
	font-size: 32px;
	color: #424242;
	line-height: 130%;
}
.eSection9 .et_pb_text strong{
	font-weight: 700;
	text-transform: uppercase;
	color: #424242;
	font-size: 46px;
}
	/* BIG DEVICES */
	@media only screen and (max-width:1100px) {
		.eSection9 .et_pb_text .seta-video-png {
			display: none;
		}
	}

/************/
/* SERVICOS */
/************/

.servicosSection1 {
	padding-bottom: 0;
}
.servicosSection2 {
	padding-top: 2%;
}

/****************/
/* SERVICOS BOX */
/****************/
.servicosBox {
	background-color: #F1F2F2;
	border-radius: 2px;
	padding: 0px 20px 20px 20px;
	font-family: source sans pro,sans-serif;
	line-height: 150%;
	min-height: 500px;
}
.servicosBox a{
	color: #73879c;
	font-size: 18px;
}
.servicosBox a:hover{
	color: #63bc46;
	text-decoration: none;
}
.servicosBox a:hover > h2{
	color: #63bc46;
	text-decoration: none;
}
.servicosBox h2{
	font-size: 26px;
	font-weight: bold;
}
.servicosBox h2:hover{
	color: #63bc46;
	text-decoration: none;
}
.ds h2{
	color: #2c607b;
}
.im h2{
	color: #ff8822;
}
.lp h2{
	color: #0f95b8;
}
.mc h2{
	color: #b70e41;
}
.md h2{
	color: #6a0096;
}
.cs h2{
	color: #178075;
}
.de h2{
	color: #64bb46;
}

/**********************/
/* SERVICOS SECTION 2 */
/**********************/

.servicosSection2 {
	font-family: source sans pro,sans-serif;
	line-height: 150%;
	font-size: 17px;
}
.servicosSection2 .et_pb_row_4 p{
	color: #414042;
}
.servicosSection2 h3{
	color: #000;
	font-weight: bold;
	font-size: 22px;
	margin-top: 10px;
}

/********/
/* BLOG */
/********/

/*****************/
/* BOTAO DO BLOG */
/*****************/

.et_pb_posts .et_pb_section .loopBlog .et_pb_column .et_pb_module p .button:hover{
	background: #228b22 !important;
	color: #fff !important;
	display: block !important;
	width: 20% !important;
	margin-top: 20px !important;
	border-radius: 4px !important;
	border-bottom: 3px solid #228b22 !important;
	padding: 8px !important;
	font-weight: 700 !important;
	text-align: center !important;
	text-transform: uppercase !important;
	float: left !important;
	border: 2px solid transparent;
}
.et_pb_posts .et_pb_section .loopBlog .et_pb_column .et_pb_module p .button:hover:after {
	display: none !important;
}
.et_pb_posts .et_pb_section .loopBlog .et_pb_column .et_pb_module p .button{
	border-top-color: #63bc46;
	border-left-color: #63bc46;
	border-right-color: #63bc46;
	background: #63bc46;
	color: #fff;
	display: block;
	width: 20%;
	margin-top: 20px;
	border-radius: 4px !important;
	border-bottom: 3px solid #63bc46;
	padding: 8px;
	cursor: pointer;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	float: left;
	box-shadow: 0px 2px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0px 2px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0px 2px 0 rgba(0,0,0,.25);

}

/**************************/
/* BLOG IMG CONFIGURATION */
/**************************/

.loopBlog .et_pb_image img {
	max-width: 100%;
	padding: 0;
	margin-top: 0;
}
.loopBlog .et_pb_column.et_pb_column_1_4 {
	width: 25.875%;
}
.loopBlog .et_pb_column.et_pb_column_1_4 {
	margin-right: 0;
}
.loopBlog .et_pb_column.et_pb_column_3_4 {
	padding-left: 3%;
}

/*****************/
/* POSTS DO BLOG */
/*****************/

.loopBlog {
	padding: 2% !important;
	border: 1px solid #e6e9ed;
	border-bottom-width: 2px;
	margin-bottom: 20px;
	border-radius: 4px;
}

.loopBlog h2 a{
	color: #506A85;
	font-size: 25px;
	line-height: 120%;
	font-weight: bold;
}
.loopBlog h2 a:hover{
	color: #64BB46;
	font-size: 25px;
	line-height: 120%;
	font-weight: bold;
}
.loopBlog p {
	font-family: source sans pro,sans-serif;
	color: #73879c !important;
	font-size: 18px;
	line-height: 150%;
}
.loopBlog a {
	font-family: source sans pro,sans-serif;
	color: #73879c;
	font-size: 18px;
	line-height: 150%;
}
.loopBlog p a{
	font-size: 16px;
	background-color: #3b8693;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
}
.loopBlog p a:hover{
	background-color: #10505b;
}
.loopBlog .et_pb_bg_layout_light p.et_pb_title_meta_container a {
	color: #fff;
}


/*******************************/
/* BLOG CATEGORY CONFIGURATION */
/*******************************/
.categorySection .categoryRow ul:before{
	content: "";
	display: block;
	position: absolute;
	top: 40%;
	width: 100%;
	border-bottom: 1px solid #8f95d3;
}    

.categorySection .categoryRow .categoryList {
	padding: 1% 0;
	list-style: none;
}
.categorySection .categoryRow .categoryList li {
	padding: 0 3%;
	position: relative;
	background: #fff;
	box-sizing: border-box;
	display: inline-block;
	margin: -3px;
}

.categorySection .categoryRow .categoryList li a {
	color: #fff;
	opacity: 0.7;
}
.categorySection .categoryRow .categoryList li a:hover{
	opacity: 1;
}
	/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	.categorySection .categoryRow .categoryList li{
			margin: 3% 5%;
		}
    }
    /* FOR SMALL DEVICES */ 
    @media only screen and (max-width : 960px) {
    	.categorySection .categoryRow ul:before{
			display: none;

		}    

    }

/*****************/
/* CATEGORY LIST */
/*****************/

.et_pb_text_2.titulosMenores {
	margin-bottom: 5% !important;
}

ul.categoryList2 {
	list-style: url(../../images/right-arrow.png);
	font-size: 16px;
	line-height: 150%;
	padding-left: 30px;
}
ul.categoryList2 li{
	margin-bottom: 3px; 
}
ul.categoryList2 a{
	color: #73879c;
}
ul.categoryList2 a:hover{
	color: #64bb46;
}

/******************/
/* PAGINATION BAR */
/******************/

.pagination {
	float: right;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;

}
.pagination .page-numbers {
	font-weight: bold;
	color: #fff;
	margin: -2px;
	padding: 8px 14px;
	background: #64BB46;
	border: 1px solid #e7eaec;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.pagination .page-numbers:hover{
	background: #228b22;
	color: #fff !important;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
}
.pagination .page-numbers.current{
	background: #228b22;
	color: #fff !important;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
}

/*********************/
/* MOST VIEWED POSTS */
/*********************/

.mostViewedPosts div.et_pb_widget_area_left {
	border:none;
}
.mostViewedPosts .et_pb_widget ul li {
	background-color: #fdffff;
	border: 1px solid #dddddd;
	margin-top: 15px;
	padding: 8px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mostViewedPosts .et_pb_widget li a{
	color: #64BB46;
	clear: both;
	font-weight: bold;
	font-size: 16px;
}
.mostViewedPosts .et_pb_widget li a:hover{
	color: #64BB46;
	clear: both;
	font-weight: bold;
}
.mostViewedPosts .et_pb_widget li span{
	float: left;
	color: #73879c;
	text-align: left;
}
.mostViewedPosts .wpp-thumbnail {
	float: left;
}
.mostViewedPosts .entry-content ul.wpp-list {
	padding: 0;
}
.mostViewedPosts .et_pb_widget.popular-posts {
	margin-bottom: 0 !important;
}

/************************/
/* POSTS POR MES WIDGET */
/************************/
.et_pb_widget_area_left {
    padding-right: 30px;
    border-right: none !important;
}

select#archives-dropdown-4 {
   -webkit-appearance: button;
   -moz-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #228B22);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

select#archives-dropdown-4 {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#228B22, #228B22 40%, #228B22);
   background-color: #228B22;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   padding-left: 15px;
}
.postsPorMesWidget label{
	font-weight: bold;
}
.postsPorMesWidget .widgettitle {
	display: none;
}

/******************/
/* POSTS POR DATA */
/******************/

.postsEmData h2 a{
	color: #506A85;
	font-size: 22px;
	line-height: 110%;
	font-weight: bold;
}
.postsEmData h2 a:hover{
	color: #64BB46;
	font-size: 22px;
	font-weight: bold;
}
.postsEmData p {
	font-family: source sans pro,sans-serif;
	color: #73879c !important;
	font-size: 18px;
}
.postsEmData a {
	font-family: source sans pro,sans-serif;
	color: #73879c;
	font-size: 18px;
}
.postsEmData p.et_pb_title_meta_container a{
	font-size: 16px;
	background-color: #3b8693;
	border-radius: 3px;
	padding: 3px;
}
.postsEmData .et_pb_bg_layout_light p.et_pb_title_meta_container a {
	color: #fff;
}
.postsEmData p a:hover{
	background-color: #10505b;
}

.postsEmData p.et_pb_title_meta_container{
	padding-bottom: 0;
}

.postsEmDataSection {
	border: 1px solid #dddddd;
	padding: 5px !important;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}

/***********************************/
/* POSTS EM DATA IMG CONFIGURATION */
/***********************************/

.postsEmDataSection .et_pb_image img {
	max-width: 100%;
	padding: 0;
	margin-top: 0;
}
.postsEmDataSection .et_pb_column.et_pb_column_1_4 {
	width: 25.875%;
}
.postsEmDataSection .et_pb_column.et_pb_column_1_4 {
	margin-right: 0;
}
.postsEmDataSection .et_pb_column.et_pb_column_3_4 {
	padding-left: 3%;
}

/***************************/
/* BOTAO DOS POSTS EM DATA */
/***************************/

.postsEmData .et_pb_column .et_pb_module p a.button {
	position: relative !important;
	font-size: 100%;
	border-color: #63bc46;
	text-decoration: none !important;
	color: #fff !important;
	background-color: #63bc46 !important;
	color: #fff !important;
	float: left !important;
	text-transform: uppercase !important;
	border-radius: 4px !important;

}


.postsEmData .et_pb_column .et_pb_module p a.button:hover{
	text-decoration: none !important;
	color: #fff !important;
	background-color: #228b22 !important;
	border-color: #228b22;
	color: #fff !important;
	display: block !important;
	border-radius: 4px !important;
	text-transform: uppercase !important;
	float: left !important;
	padding: .3em 1em !important;
	box-shadow: none;

}
.postsEmData .et_pb_column .et_pb_module p a.button:hover:after {
	display: none !important;
}

/************************************/
/* NEWSLETTER MAIL CHIMP FORMULARIO */
/************************************/

#wpcf7-f262-p13-o1 {
	padding: 8px !important;
	background-color: #228B22;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f262-p13-o1 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f262-p13-o1 p{
	padding-bottom: 0;
}
#wpcf7-f262-p13-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f262-p13-o1 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-p13-o1 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #ec4300;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-p13-o1 .wpcf7-submit:hover{
	background-color: #fa6c65;
}

/* FORMULARIO 3 */

#wpcf7-f262-o3 {
	padding: 8px !important;
	background-color: #228B22;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f262-o3 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f262-o3 p{
	padding-bottom: 0;
}
#wpcf7-f262-o3 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f262-o3 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-o3 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #ec4300;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-o3 .wpcf7-submit:hover{
	background-color: #fa6c65;
}

/* FORMULARIO 4 */

#wpcf7-f262-o4 {
	padding: 8px !important;
	background-color: #228B22;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f262-o4 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f262-o4 p{
	padding-bottom: 0;
}
#wpcf7-f262-o4 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f262-o4 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-o4 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #ec4300;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-o4 .wpcf7-submit:hover{
	background-color: #fa6c65;
}

/******************/
/* PAGINA CONTATO */
/******************/

.sectionContato ul.contacts {
	list-style: none;
}
.sectionContato li img {
	padding-right: 4px;
	-webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

.sectionContato h2,.sectionContato h3{
	font-size: 22px;
}

.paginaContato .tituloPagina2 li{
	font-size: 20px;
	color: #73879c;
    line-height: 150%;
    font-family: source sans pro,sans-serif;
}
.et_pb_social_media_follow li a.icon {
	padding: 7px;
}

/**********************/
/* FORMULARIO CONTATO */
/**********************/ 

#wpcf7-f288-p18-o1 h2{
	font-size: 160%;
	color: #506a85;
	margin-bottom: 10px;
	font-weight: bold;
}

#wpcf7-f288-p18-o1 {
	padding: 8px !important;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f288-p18-o1 form p span input{
	font-size: 16px;
	margin-bottom: 6px;
	height: 35px;
	width: 90%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#wpcf7-f288-p18-o1 form p span select{
	font-size: 16px;
	margin-bottom: 6px;
	height: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#wpcf7-f288-p18-o1 form p span textarea{
	font-size: 16px;
	width: 90%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#wpcf7-f288-p18-o1 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	float: left;
	width: 40%;
	height: 40px;
	color: #fff;
	background-color: #63bc46;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f288-p18-o1 .wpcf7-submit:hover{
	background-color: #228b22;
}
#wpcf7-f288-p18-o1 .recaptchaForm{
	margin-bottom: 6px;
}

/**************/
/* PORTFOLIOS */
/**************/

.loopPortfolio .et_cpt_container_column.et_pb_column.et_pb_column_1_3{
	width: 32.666%;
	margin-right: 1%;
}
.loopPortfolio .et_pb_row .et_pb_column_1_3 .et_pb_module {
	margin-bottom: 0;
}
.loopPortfolio .et_pb_row {
	padding-top: 1%;
	padding-bottom: 0;
}
.centered {
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #63bc46;
	opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h2 {
	font-size: 22px;
	font-weight: bolder;
	color: #fff;
	padding: 6px;
}
.loopPortfolio .et_pb_column:hover > .centered {
	opacity: 0.9;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

/**********************/ /**********************/
/* RELATIONSHIP POSTS */ /* POSTS RELACIONADOS */ 
/**********************/ /**********************/ 

.postsRelacionadosTitulo{
	border-bottom: 1px outset #506a85;
}
.postsRelacionadosTitulo h1 {
	color: #63bc46;
	font-weight: bold;
	font-size: 30px;
}

.relationshipName {
	text-align: left;
}
h2.relationshipName{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	font-family: source sans pro,sans-serif;
	line-height: 150%;
}
.relationshipPost p{
	color: #000;
	font-size: 16px;
	font-family: source sans pro,sans-serif;
	line-height: 150%;
}
.relationshipPost {
	text-align: left;
}
.relationshipPost img{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/************************/
/* FORMULARIO DOS POSTS */
/************************/

#wpcf7-f347-o2 {
	padding: 9px;
	background-color: #EEEEEE;
	border-top: 10px solid #63bc46;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
}

#wpcf7-f347-o2 h4 {
	font-weight: bold;
	text-align: center;
	color: #63bc46;
	font-size: 24px;
}
#wpcf7-f347-o2 h4 p{
	font-weight: normal;
	color: #506a85;
	font-size: 18px;
}
#wpcf7-f347-o2 .wpcf7-submit{
	margin-top: 0;
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	float: left;
	width: 30%;
	height: 44px;
	color: #fff;
	background-color: #f27a24;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f347-o2 .wpcf7-submit:hover{
	background-color: #d96716;
}

#wpcf7-f347-o2 form p span input{
	font-size: 16px;
	margin-bottom: 6px;
	height: 40px;
	width: 60%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
	margin-top: 25px;
}

/*******************/
/* PAGINA DE POSTS */
/*******************/

.categorySection .postsRow .page_title {
	font-weight: bold;
	font-size: 36px;
	color: #000;
}
.categorySection .postsRow p.et_pb_title_meta_container {
	color: #000;
}
.categorySection .postsRow p.et_pb_title_meta_container a{
	color: #fff;
	background-color: #3b8693;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
}

.categorySection .postsRow p.et_pb_title_meta_container a:hover{
	background-color: #10505b;
}

.categorySection .postsRow .cptContent{
	color: #000;
}
.categorySection .postsRow .cptContent h1,.categorySection .postsRow .cptContent h2 ,.categorySection .postsRow .cptContent h3 ,.categorySection .postsRow .cptContent h4{
	font-weight: bold;
	color: #000;
}

/*****************************************/
/* NEWSLETTER MAIL CHIMP FORMULARIO POSTS*/
/*****************************************/

#wpcf7-f262-o1 {
	padding: 8px !important;
	background-color: #228B22;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f262-o1 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f262-o1 p{
	padding-bottom: 0;
}
#wpcf7-f262-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f262-o1 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-o1 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #ec4300;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f262-o1 .wpcf7-submit:hover{
	background-color: #fa6c65;
}

/****************************/
/* PAGINA SERVICOS INTERNAS */
/****************************/

.textoServico .et_pb_text_inner p{
	color: #4d4d4d;
}
.textoServico .et_pb_text_inner h1{
	margin-bottom: 20px;
}

.textoServicosConfig {
	margin-bottom: 20px;
	min-height: 150px;
}
.textoServicos2 .img-responsive{
	margin: 5px 30px 95px 0px
}
.textoServicos2 h3 {
	font-weight: bold;
	font-size: 20px;
}
.textoServicosConfig div p{
	color: #4d4d4d;
}

/**************************/
/* FORMULARIO DE SERVICOS */
/**************************/

#wpcf7-f409-p382-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p382-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p382-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p382-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p382-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p382-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p382-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p382-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/* formulario inbound marketing */

#wpcf7-f409-p384-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p384-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p384-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p384-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p384-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p384-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p384-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p384-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/* formulario links patrocinados */

#wpcf7-f409-p386-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p386-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p386-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p386-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p386-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p386-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p386-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p386-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/* formulario marketing de conteudo */

#wpcf7-f409-p389-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p389-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p389-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p389-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p389-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p389-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p389-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p389-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/* formulario marketing digital */

#wpcf7-f409-p392-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p392-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p392-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p392-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p392-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p392-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p392-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p392-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/* formulario consultoria seo */

#wpcf7-f409-p395-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p395-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p395-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p395-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p395-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p395-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p395-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p395-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/* formulario desenvolvimento de ecommerce */

#wpcf7-f409-p398-o1 {
	padding: 8px !important;
	background-color: #3A3E49;
	color: #fff;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f409-p398-o1 p{
	padding-bottom: 0;
}
#wpcf7-f409-p398-o1 h2{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f409-p398-o1 h1{
	color: #fff;
	font-size: 22px;
	text-align: center;
}
#wpcf7-f409-p398-o1 input.wpcf7-form-control{
	height: 35px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 6px;
}
#wpcf7-f409-p398-o1 .wpcf7-textarea{
	width: 100%;
	color: #515151;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 6px;
}
#wpcf7-f409-p398-o1 .wpcf7-form-control.wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 10px 10%;
	width: 80%;
	height: 40px;
	color: #fff;
	background-color: #52cc29;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f409-p398-o1 .wpcf7-submit:hover{
	background-color: #63bc46;
}

/************************/
/* MATERIAIS EDUCATIVOS */
/************************/

.materiais-educativos {
	background-color: #F2F2F2;
	padding: 5px;
}
.materiais-educativos .materiais-formato h4{
	color: #64bb46;
	font-size: 16px;
	font-family: source sans pro,sans-serif;
}
.materiais-educativos .materiais-title h3{
	font-weight: normal;
	color: #434343;
	line-height: 130%;
	font-family: source sans pro,sans-serif;
}

.tituloMaterial h1{
	color: #5e5e5e;
	font-size: 22px;
	padding-bottom: 25px;
	border-bottom: 1px outset #ffffff;
}
.tipoMaterial {
	margin-bottom: 10px !important;
}
.tipoMaterial h5{
	margin-left: 5px;
	color: #63bc46;
	margin-bottom: 0;
	padding-bottom: 0;
}
.listaMateriais li {
	margin-left: 20px;
}
.listaMateriais li a{
	color: #506a85;
}

/*************************/
/* SEARCH FORM MATERIAIS */
/*************************/
.formularioPesquisaSection.et_pb_section{
	padding: 0;
}
.searchForm .searchDiv {
	text-align: center;
}
.searchForm	.searchInput{
	width: 70%;
	height: 35px;
}
.searchForm	.searchButton{
	width: 15%;
	height: 45px;
	margin-left: 10px;
	text-align: center;
	background-color: #1abb9c;
	color: #fff !important;
	padding: 11px 20px 13px;
	font-family: source sans pro,sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: .02em;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
	border: 0;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
}
.searchForm	.searchButton:hover{
	background-color: #107f69;
}

/**********/
/* FOOTER */
/**********/

.footer.et_pb_section{
	padding: 0;
}

.footerRow .et_pb_column.et_pb_column_1_4{
	margin-right: 2%;
	width: 23%;
}
.footer2_4 img {
	padding-right: 4px;
	-webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

/*********************/
/* NEWSLETTER FOOTER */
/*********************/

#wpcf7-f509-o2 {
	padding: 8px !important;
	background-color: #F2F5F7;
	color: #434343;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f509-o2 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f509-o2 p{
	padding-bottom: 0;
}
#wpcf7-f509-o2 h2{
	color: #434343;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f509-o2 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o2 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #63bc46;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o2 .wpcf7-submit:hover{
	background-color: #228b22;
}

/* FORUMULARIO 2 */

#wpcf7-f509-o1 {
	padding: 8px !important;
	background-color: #F2F5F7;
	color: #434343;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f509-o1 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f509-o1 p{
	padding-bottom: 0;
}
#wpcf7-f509-o1 h2{
	color: #434343;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f509-o1 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o1 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #63bc46;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o1 .wpcf7-submit:hover{
	background-color: #228b22;
}

/* FORMULARIO 3 */


#wpcf7-f509-o3 {
	padding: 8px !important;
	background-color: #F2F5F7;
	color: #434343;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f509-o3 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f509-o3 p{
	padding-bottom: 0;
}
#wpcf7-f509-o3 h2{
	color: #434343;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f509-o3 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o3 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #63bc46;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o3 .wpcf7-submit:hover{
	background-color: #228b22;
}

/* FORMULARIO 4 e 5 */

#wpcf7-f509-o4 {
	padding: 8px !important;
	background-color: #F2F5F7;
	color: #434343;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f509-o4 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f509-o4 p{
	padding-bottom: 0;
}
#wpcf7-f509-o4 h2{
	color: #434343;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f509-o4 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o4 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #63bc46;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o4 .wpcf7-submit:hover{
	background-color: #228b22;
}

#wpcf7-f509-o5 {
	padding: 8px !important;
	background-color: #F2F5F7;
	color: #434343;
	font-size: 16px;
	line-height: 160%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#wpcf7-f509-o5 p.text-area{
	padding-bottom: 5px;
	padding-top: 4px;
}
#wpcf7-f509-o5 p{
	padding-bottom: 0;
}
#wpcf7-f509-o5 h2{
	color: #434343;
	font-weight: bold;
	font-size: 18px;
}
#wpcf7-f509-o5 .your-email input{
	height: 30px;
	color: #515151;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o5 .wpcf7-submit{
	cursor: pointer;
	font-family: source sans pro,sans-serif;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	margin: 8px 25% 0 25%;
	width: 50%;
	height: 40px;
	color: #fff;
	background-color: #63bc46;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wpcf7-f509-o5 .wpcf7-submit:hover{
	background-color: #228b22;
}

/* LAST FOOTER */

.footer .et_pb_fullwidth_menu .fullwidth-menu-nav > ul.upwards > li {
    padding-top: 20px;
}
.footer .et_pb_fullwidth_menu .fullwidth-menu-nav > ul.upwards {
	padding-bottom: 15px !important;
}
.footer .copyright{
	color: #fff;
	position: absolute;
	margin-left: 30px;
	top: -38px;
}

/* RESPONSIVE MENU */

@media only screen and (max-width : 480px) {
		.footer .copyright{
			color: #fff;
			position: absolute;
			margin-left: 120px;
			top: -60px;
	}
}
@media only screen and (min-width : 480px) {
		.footer .copyright{
			color: #fff;
			position: absolute;
			margin-left: 30px;
			top: -50px;
	}
}
@media only screen and (min-width : 980px) {
		.footer .copyright{
			color: #fff;
			position: absolute;
			margin-left: 30px;
			top: -70px;
			margin-right: 80%;
	}
}
@media only screen and (min-width : 1050px) {
		.footer .copyright{
			color: #fff;
			position: absolute;
			margin-left: 30px;
			top: -50px;
			margin-right: 75%;
	}
}
@media only screen and (min-width : 1180px) {
		.footer .copyright{
			color: #fff;
			position: absolute;
			margin-left: 30px;
			top: -38px;
			margin-right: 0;
	}
}


/*************************/
/* CUSTOMIZE MENU HEADER */
/*************************/

.container.et_menu_container {
	margin: 0 4%;
	width: 100%;
}


#top-menu .menu-item.menu-item-535 a{
	padding: 10px 6px;
	background-color: #2FC9E5;
	color: #fff;
	font-weight: bolder;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	height: 35px;
	margin-bottom: 10px;
}

#et_search_icon::before {
    top: 5px;
}

/* ###### SEARCH RESULT PAGE ###### */

@media (min-width: 981px) {
.search #left-area {
	width: 64.833%;
}

.et_right_sidebar #left-area {
    float: left;
    margin-right: 45px;
}
.search #sidebar {
	width: 29.666%;
	border-left: 1px solid #e2e2e2;
}

.search #main-content .container:before {
    display: none !important;
}}

.search .et_pb_post a img {
    padding-bottom: 25px;
}

.search h2 {
	font-size: 34px;
	font-weight: bold;
}

.search h4.widgettitle {
	font-size: 22px;
	font-weight: bold;
}

.search #sidebar .et_pb_widget {
	padding: 25px;
	margin-bottom: 18.54%;
}

.search #content-area {
	padding-bottom: 50px;
}

/* SEARCH PAGE RESULT */

.sidebarLayoutSearch.et_pb_row {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: auto;
}
.sidebarLayoutSearch.et_pb_row{
    padding: 0;
}
.sidebarLayoutSearch .et_pb_column.et_pb_column_3_4{
    margin-right: 0;
}
.sidebarLayoutSearch .et_pb_column.et_pb_column_3_4{
    width: 0;
}